<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="azure:viewsclogs" type="ClearPeople.AzureLogViewer.Sitecore.ViewSitecoreLogs, ClearPeople.AzureLogViewer" />
      <command name="azure:viewssclogs" type="ClearPeople.AzureLogViewer.Sitecore.ViewSystemLogs, ClearPeople.AzureLogViewer" />
    </commands>
    <settings>
      <setting name="ClearPeople.Azure.LogsViewer.MaxRowsPerRequest" value="1000" />
      <setting name="ClearPeople.Azure.LogsViewer.LogsTableName" value="WADLogsTable" />
      <setting name="ClearPeople.Azure.LogsViewer.WindowsEventsTableName" value="WADWindowsEventLogsTable" />
      <setting name="ClearPeople.Azure.LogsViewer.NumberofExtraPagesToCache" value="2" />
      <setting name="ClearPeople.Azure.LogsViewer.DefaultHoursToGet" value="2" />
      <setting name="ClearPeople.Azure.LogsViewer.FullyCachedTableSummaryText" value="Showing rows {0}-{1}({2}) out of {3}" />
      <setting name="ClearPeople.Azure.LogsViewer.CachingRowsPendingTableSummaryText" value="Showing rows {0}-{1}({2}) out of more than {3}" />
      <setting name="ClearPeople.Azure.LogsViewer.StoageConnectionString" value="DefaultEndpointsProtocol={0};AccountName={1};AccountKey={2}" />
      <setting name="ClearPeople.Azure.LogsViewer.JQueryUIThemeUrl" value="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/Smoothness/jquery-ui.css" />
      <setting name="ClearPeople.Azure.LogsViewer.DialogWidth" value="1200" />
      <setting name="ClearPeople.Azure.LogsViewer.DialogHeight" value="600" />
      <setting name="ClearPeople.Azure.LogsViewer.BindGridOnLoad" value="false" />
      <setting name="ClearPeople.Azure.LogsViewer.DateFormat" value="dd/MM/yyyy hh:mm tt" />
      <setting name="ClearPeople.Azure.LogsViewer.DatePickerDateFormat" value="dd/mm/yy" />
      <setting name="ClearPeople.Azure.LogsViewer.DatePickerTimeFormat" value="hh:mm tt" />
      <setting name="ClearPeople.Azure.LogsViewer.NoRecordsFoundText" value="No records found" />
      <setting name="ClearPeople.Azure.LogsViewer.LoadingText" value="Searching... please wait..." />
    </settings>
  </sitecore>
</configuration>
